# example environment variables (no secrets)
APP_NAME=BaseApp
APP_VERSION=1.0.0
MAINTENANCE_MODE=false
MAINTENANCE_WINDOW=
SUPPORT_EMAIL=support@yourdomain.com

SECRET_KEY=
POSTGRES_URI=
POSTGRES_LOCAL_URI=
schema_name=app_db
